/wp-admin/
/wp-content/plugins/
/wp-content/themes/twentytwentyfour
/wp-content/themes/twentytwentythree
/wp-content/themes/twentytwentytwo
/wp-content/themes/mytheme/node_modules
/.htaccess
/wp-includes/
/wp-content/uploads/
/wp-content/debug.log
