// @font-face {
//     font-family: 'Times';
//     src: url('../../assets/fonts/Times_Regular/Times_Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'GT Walsheim Pro';
//     src: url('../../assets/fonts/gt-walsheim-font-family-1707234443-0/GT-Walsheim-Regular-Oblique-Trial-BF651b7fc67342f.otf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}