$globle_color: red;
$primary-font-color: black;
$secondary-font-color: #9F9F9F;
$tertiary-font-color: #B88E2F;
$secondary-background-color: #FFF9E5;
$tertiary-background-color: #FAF4F4;
$footer-line-color: #D9D9D9;